@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fixedMenu {
	0% {
		opacity: 0.7;
		transform: translateY(-100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes showTab {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes slideIn {
	from {
		filter: blur(15px);
	}
	to {
		filter: blur(0);
	}
}
@keyframes slideOut {
	from {
		filter: blur(0);
	}
	to {
		filter: blur(15px);
	}
}

@keyframes loadingAnimateStroke {
	0% {
		stroke-dasharray: 862;
		stroke-dashoffset: 862;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
@keyframes loadingAnimationFill {
	from {
		fill: transparent;
	}
	to {
		fill: $main-2-cl;
	}
}
@keyframes waveLoading {
	0% {
		transform: scale(0.8);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}
@keyframes pulse {
	0% {
		transform: scale(0.95) translate(-50%, -50%);
		box-shadow: 0 0 0 0 rgba($color: $main-cl, $alpha: 0.75);
	}

	70% {
		transform: scale(1) translate(-50%, -50%);
		box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
	}

	100% {
		transform: scale(0.95) translate(-50%, -50%);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
	}
}
@keyframes shakePhone {
	0% {
		transform: rotate(-15deg);
	}
	2% {
		transform: rotate(15deg);
	}
	4% {
		transform: rotate(-18deg);
	}
	6% {
		transform: rotate(18deg);
	}
	8% {
		transform: rotate(-22deg);
	}
	10% {
		transform: rotate(22deg);
	}
	12% {
		transform: rotate(-18deg);
	}
	14% {
		transform: rotate(18deg);
	}
	16% {
		transform: rotate(-12deg);
	}
	18% {
		transform: rotate(12deg);
	}
	20%,
	100% {
		transform: rotate(0deg);
	}
}
@keyframes slideLeft {
	to {
		transform: translateX(100%);
	}
	from {
		transform: translateX(-100%);
	}
}
@keyframes bannerAnimate {
	0% {
		opacity: 0;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}
	100% {
		opacity: 1;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
}
