.main-title-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	.main-title {
		margin-bottom: 0;
	}
}
.main-title {
	font-family: $font-title;
	transition: $t1 $cubic1;
	line-height: 1.5;
	&.sec-title {
		position: relative;
		display: inline-block;
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			right: -7rem;
			transform: translateY(-50%);
			width: 6rem;
			height: 0.4rem;
			background-color: $main-2-cl;
		}
	}
}
.--m-cl {
	color: $main-cl;
}
.--s-cl {
	color: $second-cl;
}
.--w-cl {
	color: $t-w-cl;
}
.tt-60 {
	@include fz-60;
}
.tt-50 {
	@include fz-50;
}
.tt-40 {
	@include fz-40;
}
.tt-36 {
	@include fz-36;
}
.tt-30 {
	@include fz-30;
}
.tt-24 {
	@include fz-24;
}
.tt-22 {
	@include fz-22;
}
.tt-20 {
	@include fz-20;
}
.tt-18 {
	@include fz-18;
}
.tt-16 {
	font-size: 1.6rem;
}
.tt-14 {
	font-size: 1.4rem;
}
.t-center {
	text-align: center;
}
.t-left {
	text-align: left;
}
.t-right {
	text-align: right;
}
.t-justify {
	text-align: justify;
}
.t-uppercase {
	text-transform: uppercase;
}
.t-capitalize {
	text-transform: capitalize;
}
.f-900 {
	font-weight: 900;
}
.f-bold {
	font-weight: bold;
}
.f-light {
	font-weight: lighter;
}
